/*Tablet*/
@media (min-width:740px) and (max-width:1023px) {
  body{
    margin: 0 auto;
  }
  p{
    text-align: center;
  }
  .title{
    font-size: 2em;
  }
  .page-1_images{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  img{
    max-width: 100%;
    margin-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
  }
  .page-1_content{
    width: 80%;
    margin: 0 auto;
  }

}
/*Mobile*/
@media (max-width:740px){

}